/* Import Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');


/* --------------------- LAYOUT.HTML----------------------- */
title {
    text-transform: capitalize;
}

h1 {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 4rem;
    text-shadow: 5px 5px 10px black;
    padding-top: 130px;
    padding-left: 100px;
    text-transform: capitalize;
}

h4 {
    text-transform: capitalize;
    text-shadow: 4px 4px 4px black;
    padding-left: 100px;
}

footer {
    font-family: 'Graduate', sans-serif;
    padding: 10px 10px;
    background: linear-gradient(to left, rgb(147, 2, 55), rgb(221, 0, 103));
    color: white;
}


/* --------- Menu Bar Controls ---------*/
.navbar {
    background: linear-gradient(to right, rgb(147, 2, 55), rgb(221, 0, 103));
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 /* Positioning the Menu items to the center */
.navbar-nav {
    justify-content: center;
    width: 100%;
    gap: 45px;
}


/* For Home link on the Menu Bar: make the text white */
.navbar-nav .nav-link.active {
    color: white;
 }

 /* For Societies, Student Halls, Student links on the Menu Bar: make the text white */
.navbar-nav .nav-link {
    color: white;
}

/* Make the textcolour change when mouse arrow hovers over */
.navbar-nav .nav-link:hover {
    background-color: rgb(83, 0, 26);
    color: white;
    border-radius: 0.5rem;
}

/* Removing the bullet points for all the Menu items in the list */
.nav-item {
    list-style: none;
}

/* For the Dropdown Menu */
.drop-down {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: none;
    overflow-y: visible;
    z-index: 1050;
}

.dropdown {
    position: relative;
}

/* For the links on the Dropdown Bar: make the text white */
.dropdown-item {
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.dropdown:hover .drop-down {
    display: block;
}

.dropdown:hover {
    color:rgb(198, 128, 0);
}

/* Adding a line between the society names and 'All Societies' */
.dropdown .dropdown-divider {
    border-top: 1px solid black;
    margin:8px 0;
}

/* Turning the text colour grey when user is on the page */
.drop-down .nav-link.disabled {
    color: gray;
    font-weight: 600;
}

/* For the Logo: adjusting the size of the logo */
.navbar-brand img {
    height: 50px;
    width: auto;
}

/* Adjusting the text-style, font, size and colour of the logo header (the 'PPU' next to the logo image) */
.navbar-brand h2 {
    text-transform: uppercase;
    font-family:'Graduate', serif;
    font-size: 2rem;
    font-weight: 550;
    color: white;
    padding-top: 5px;
}

/* Adjusting the positioning of the logo */
.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}


.login-btn {
    background-color: white;
    border-radius: 2rem;
    border-color: white;
    width: 7.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 1rem;
    text-transform: uppercase;
}

.login-btn a {
    text-decoration: none; 
    color: rgb(192, 0, 80);
}

.login-btn a:hover {
    color: rgb(198, 128, 0);
}

.login-btn i {
    margin-right: 8px;
    font-size: 1.1rem;
}



/* --------------------- HOME ----------------------- */
#rankingssection {
    background-color: rgb(234, 223, 204);
    /* background-color: rgb(232, 208, 162); */
    height: auto;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    position: relative;
    padding-bottom: 30px;
}
#rankingssection .ranking-1 {
    background-color: #ff4b69;
    border-radius: 20px;
}
#rankingssection .ranking-2 {
    background-color: #6ec6ff;
    border-radius: 20px;
}
#rankingssection .ranking-3 {
    background-color: #65d765;
    border-radius: 20px;
}
#rankingssection .card {
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.379);
}
#rankingssection .container h5 {
    text-transform: capitalize;
    font-weight: 700;
}
#rankingssection .container p1 {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 650;
}
#rankingssection .container h3 {
    font-family: 'Graduate', sans-serif;
}



#foundingsection {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(26, 19, 64);
    height: auto;
    color: rgb(246, 239, 229);
}
#foundingsection .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#foundingsection .container .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#foundingsection .container .col-sm-12 {
    width: 100%;
    text-align: center;
}



#campussection {
    background-color: rgb(246, 239, 229);
    height: auto;
    overflow-y: auto;
    position: relative;
}
#campussection .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
#campussection .container img {
    max-width: 500px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 30px;

}
#campussection .container .text {
    padding-top: 150px;
    padding-right: 120px;
}



/* --------------------- SOCIETIES ----------------------- */
/* Societies Page Styling */
#societiessection .card {
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 16px;
    text-align: center;
    width: 400px;  
    margin-left: auto;  
    margin-right: auto; 
}

#societiessection .card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#societiessection .card .container {
    padding: 16px;
}

#societiessection .card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

#societiessection .card .title {
    font-size: 1rem;
    color: #777;
    margin-bottom: 8px;
}

#societiessection .card .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #ff499eff;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 4px 10px #d13e7d;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 4px;
}

#societiessection .card .button:hover {
    background-color: #d264b6ff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

#message h2 {
    font-family: 'Bagel Fat One', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: rgb(221, 0, 103)

}

@media screen and (max-width: 650px) {
    #societiessection .column {
        width: 100%;
        display: block;
    }
    #societiessection .card {
        width: 80%;
    }
}

/* --------------------- FOREIGN EXCHANGE SOCIETY ----------------------- */
#forex {
    background-color: rgb(246, 239, 229);
    height: auto;
    position: relative;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
#forex .accordion-header button {
    background-color: rgb(147, 2, 55);
    font-weight: 600;
    color: white;
}
#forex .accordion-body {
    background-color: rgb(231, 222, 207);
    font-weight: 500;
}
#forex .accordion-item h3 {
    margin-top: 0;
    margin-bottom: 0;
}
#forex .col-md-4 img {
    height: 70vh;
}
@media screen and (max-width: 768px) {
    #forex .container {
        flex-direction: column;
        align-items: center;
    }
    #forex .accordion {
        order: 1;
    }
    #forex .col-md-4 img {
        order: 2;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
}

#program {
    background-color: rgb(234, 223, 204);
    position: relative;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}
#programCarousel {
    width: 80%;            
    max-width: 500px;       
    max-height: 500px;         
    margin: 0 auto;   
    border: 5px solid #ffffff;                  
}
#program .carousel-inner {
    position: relative;
    max-width: 500px;       
    max-height: 500px; 
    align-items: center;
    padding-top: 100%;
}
#program .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover; 
}
#forexsoc {
    max-width: 900px;
}
.carousel-1 {
    background: url(images/italy.png) no-repeat center center/cover;
}
.carousel-2 {
    background: url(images/morocco.jpg) no-repeat center center/cover;
}
.carousel-3 {
    background: url(images/japan.png) no-repeat center center/cover;
}
.carousel-4 {
    background: url(images/china.png) no-repeat center center/cover;
}
.carousel-5 {
    background: url(images/norway.png) no-repeat center center/cover;
}
.carousel-6 {
    background: url(images/brazil.png) no-repeat center center/cover;
}
#program {
    position: relative;
}
.carousel-caption {
    background-color: rgba(127, 117, 101, 0.23);
    border-radius: 50px;
    padding: 5px;
    padding-bottom: 20px;
    max-width: 80%;
    text-transform: capitalize;
}
.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    width: auto;
    background: rgba(0, 0, 0, 0.831);
    border-radius: 50%;
    padding: 15px;
}
.carousel-item h5, .carousel-item p {
    text-shadow: 6px 6px 12px black;
}

#quote {
    font-family: 'Poppins', sans-serif;
}

.quote-text {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.quote-mark {
    display: flex;
    align-items: center;
}
#openingquote {
    justify-content: flex-end;
}
#closingquote {
    justify-content: flex-start;
}
p .firstline {
    font-weight: 600; 
}
p .secondline {
    text-align: right;
    display: block;
    font-size: 1rem;
}


#quo {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
#quo .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: black;
    border-radius: 0;
    border-width: 4px;
    width: 200px;
    height: 200px;
    text-transform: capitalize;
}




/* --------------------- STUDENT HALLS ----------------------- */
.blossom {
    background-color: rgb(243, 235, 224);
}
.blossom .container {
    padding-bottom: 20px;
}
#blossomcontent {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
}
#blossomcontent .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-color: black;
    border-radius: 0;
    border-width: 4px;
    width: 300px;
    height: 170px;
    text-transform: capitalize;
}
#blossomcontent img {
    width: 100px;
    border-radius: 50%;
}



.bubbles {
    background-color: aliceblue;
}

.bubbles .container {
    padding-bottom: 20px;
}

.buttercup {
    background-color: rgb(211, 229, 192);
}

.buttercup .container {
    padding-bottom: 20px;
}

.belle {
    background-color: rgb(242, 241, 238);
}

.belle .container {
    padding-bottom: 20px;
}


.bunny {
    background-color: rgb(162, 118, 200);
}

.bunny .container {
    padding-bottom: 20px;
}


/* --------------------- SIGN UP ----------------------- */
#signup {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    /* text-shadow: 2px 2px 4px #3c072564; */
}

form {
    background: linear-gradient(45deg, rgb(147, 2, 55), rgb(221, 0, 103), pink);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    height: auto;
    overflow-y: auto;
    position: relative;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]
 {
    background-color: linear-gradient(to right, rgb(147, 2, 55), rgb(221, 0, 103));
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

#signup input[type="text"]:hover {
  background-color: rgb(254, 216, 162);
}

#signup .btn-primary {
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    width: 100px;
    background-color: #5cdafa;
    color: black;
    font-weight: 50;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Bagel Fat One', sans-serif;
}