/* Import Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Menu Bar Controls */
.navbar {
    background: linear-gradient(to bottom, rgb(147, 2, 55), rgb(221, 0, 103));
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

 /* Positioning the Menu items to the center */
.navbar-nav {
    justify-content: center;
    width: 100%;
    gap: 90px;
}


/* For Home link on the Menu Bar: make the text white */
.navbar-nav .nav-link.active {
    color: white;
 }

 /* For Societies, Student Halls, Student links on the Menu Bar: make the text white */
.navbar-nav .nav-link {
    color: white;
}

/* Make the textcolour change when mouse arrow hovers over */
.navbar-nav .nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}

/* Removing the bullet points for all the Menu items in the list */
.nav-item {
    list-style: none;
}


/* For the Dropdown Menu */
.drop-down {
    background-color: rgba(116, 0, 37, 0.441);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: none;
    overflow-y: auto;
}

/* For the links on the Dropdown Bar: make the text white */
.dropdown-item {
    color: white;
    font-weight: 250;
}

.dropdown:hover .drop-down {
    display: block;
}

.dropdown .dropdown-divider {
    border-color: white;
}


/* For the Logo: adjusting the size of the logo */
.navbar-brand img {
    height: 50px;
    width: auto;
}

/* #powerpuff1 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding-top: 5px;
}

#powerpuff2 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 200;
    color: white;
    padding-top: 5px;
} */

/* Adjusting the text-style, font, size and colour of the logo header (the 'PPU' next to the logo image) */
.navbar-brand h2 {
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 550;
    color: white;
    padding-top: 5px;
}

/* Adjusting the positioning of the logo */
.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}


.login-btn {
    background-color: white;
    border-radius: 2rem;
    border-color: white;
    color: rgb(192, 0, 80);
    width: 7.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 1rem;
}


.login-btn i {
    margin-right: 8px;
    font-size: 1.1rem;
}






h1 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    text-transform: capitalize;
}

#homepage {
    display: flex;
    padding-left: 50px;
}



footer {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    background-color: rgb(164, 0, 60);
    color: white;
}