{% extends "layout.html" %}
{% block body_content %}

<section class="belle">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/belle2.jpeg') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/belle3.jpeg') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/belle4.jpeg') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
        </div>
    </div>

    <div id="blossomcontent" class="container">
        <div class="row">
            <div class="col align-self-center mark">
                <p>
                    <span class="content">
                        <strong>
                            <br>&#9733 Cost: £10,000 - £16,000 per semester
                        </strong>
                        <strong><br>&#9733 Unique Facilities:</strong>
                        <ul>
                            <li>Superhero glam station in every room</li>
                            <li>Indoor runway and Atelier</li>
                            <li>Etiquette Master Class</li>
                            <li>Ballroom Lounge: to host dinner parties and charity galas</li>
                            <li>SPA: sauna, massage parlour & cryotherapy</li>
                            <li>Year supply of skincare, beauty products, IV drips and Ozempic</li>
                        </ul>

                    </span>
                </p>
            </div>
          <div class="col align-self-center quote-text" style="text-align: center; padding-left: 50px;">
            <img src="{{ url_for('static', filename='images/university/belleicon.jpeg') }}" alt="teen belle placing with snow">
            <div class="card">
                <h2>a tour<br>of<br>blossom hall</h2>
            </div>
          </div>
          <div class="col align-self-end mark">
            <p>
                <span class="content">
                    <br><strong>&#9733 Top Notes:</strong> Pearl, Porcelain, Stone, White, Gold, Ivory, Cream
                    <hr>
                    <br><strong>&#9733 Middle Notes:</strong> Luxurious, graceful, refined, elegance, glamour, detail-oriented
                    <hr>
                    <br><strong>&#9733 Base Notes:</strong> Crystal chandeliers, vanity mirrors, orchards, peonies, fur, velvet, fashion magazines, a place to pamper, self-care and celebrate beauty inside and out.
                </span>
            </p>
          </div>
        </div>
    </div>
</section>

{% endblock %}