{% extends "layout.html" %}
{% block body_content %}

<section class="bubbles">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bubbleshall4.png') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bubbleshall2.png') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bubbleshall3.png') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
        </div>
    </div>
    <div id="blossomcontent" class="container">
        <div class="row">
            <div class="col align-self-center mark">
                <p>
                    <span class="content">
                        <strong>
                            <br>&#9733 Cost: £7,000 - £11,000 per semester
                        </strong>
                        <strong><br>&#9733 Unique Facilities:</strong>
                        <ul>
                            <li>Bubble Bath Lounge</li>
                            <li>Aquarium Lounge: Swim with the sea animals, echolocation technology</li>
                            <li>Fun Zone: Game Lounge</li>
                            <li>Craft & DIY Studios</li>
                            <li>No stairs, instead indoor slide system connects each floor</li>
                            <li>Year supply of goodies, plushies, DIY slime, floating cloud cushions</li>
                        </ul>

                    </span>
                </p>
            </div>
          <div class="col align-self-center quote-text" style="text-align: center; padding-left: 50px;">
            <img src="{{ url_for('static', filename='images/university/bubbles.jpg') }}" alt="teen blossom holding a phone">
            <div class="card">
                <h2>a tour<br>of<br>blossom hall</h2>
            </div>
          </div>
          <div class="col align-self-end mark">
            <p>
                <span class="content">
                    <br><strong>&#9733 Top Notes:</strong> Baby blue, soft yellow, sunset orange and sparkles
                    <hr>
                    <br><strong>&#9733 Middle Notes:</strong> Quirky, whimsical, plush pillows, bubble machines and ocean motifs
                    <hr>
                    <br><strong>&#9733 Base Notes:</strong> Happy, carefree and creative. A place to relax and be yourself a constant sense of fun and laughter!
                </span>
            </p>
          </div>
        </div>
    </div>
</section>

{% endblock %}