{% extends "layout.html" %}
{% block body_content %}

<section class="bunny">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bunny2.jpeg') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bunny3.jpeg') }}" alt="A student dinning" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/bunny4.jpeg') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
        </div>
    </div>

    <div id="blossomcontent" class="container">
        <div class="row">
            <div class="col align-self-center mark">
                <p>
                    <span class="content">
                        <strong>
                            <br>&#9733 Cost: £6,000 - £9,000 per semester
                        </strong>
                        <strong><br>&#9733 Unique Facilities:</strong>
                        <ul>
                            <li>Zen Garden</li>
                            <li>Healing Hub: Wellness Retreats, yoga studio, pilates</li>
                            <li>Sound Bath System in 528Hz</li>
                            <li>Organic farm</li>
                            <li>Celestial Archives: philosophy, astronomy, spiritual books</li>
                            <li>Time Travel Machine: explore different periods in time</li>
                            <li>Year supply of fresh smoothies, vitamin, herbal tea, incense</li>
                        </ul>

                    </span>
                </p>
            </div>
          <div class="col align-self-center quote-text" style="text-align: center; padding-left: 50px;">
            <img src="{{ url_for('static', filename='images/university/bunny.jpg') }}" alt="teen bunny holding a phone">
            <div class="card">
                <h2>a tour<br>of<br>blossom hall</h2>
            </div>
          </div>
          <div class="col align-self-end mark">
            <p>
                <span class="content">
                    <br><strong>&#9733 Top Notes:</strong> violet, lavender, teal, turquoise, cardinal red
                    <hr>
                    <br><strong>&#9733 Middle Notes:</strong> warm, cozy, vintage, antique, feng shui
                    <hr>
                    <br><strong>&#9733 Base Notes:</strong> Nurture, care, wisdom, nostalgia, a place to seek knowledge, observe calmness and mental solitude.
                </span>
            </p>
          </div>
        </div>
    </div>
</section>

{% endblock %}