{% extends "layout.html" %}
{% block body_content %}

<section class="buttercup">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/buttercuphall4.png') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/buttercuphall2.png') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/university/buttercuphall3.png') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
        </div>
    </div>

    <div id="blossomcontent" class="container">
        <div class="row">
            <div class="col align-self-center mark">
                <p>
                    <span class="content">
                        <strong>
                            <br>&#9733 Cost: £9,000 - £14,000 per semester
                        </strong>
                        <strong><br>&#9733 Unique Facilities:</strong>
                        <ul>
                            <li>Fitness Center: state-of-the-art gym & boxing arena</li>
                            <li>Villain Combat Zone (simulation)</li>
                            <li>High-tech sound system & instruments</li>
                            <li>Arcade, laser tag, paintball court, indoor ESCAPE ROOM</li>
                            <li>Smash Room to release anger</li>
                        </ul>

                    </span>
                </p>
            </div>
          <div class="col align-self-center quote-text" style="text-align: center; padding-left: 50px;">
            <img src="{{ url_for('static', filename='images/university/buttercup.jpeg') }}" alt="teen buttercup looking bored">
            <div class="card">
                <h2>a tour<br>of<br>buttercup hall</h2>
            </div>
          </div>
          <div class="col align-self-end mark">
            <p>
                <span class="content">
                    <br><strong>&#9733 Top Notes:</strong> dark green, black, chrome, burgundy, scarlet red, metallic accents
                    <hr>
                    <br><strong>&#9733 Middle Notes:</strong> Grunge, punk, industrial-inspired interior, leather seats, cyberpunk
                    <hr>
                    <br><strong>&#9733 Base Notes:</strong> Bookshelves lined with academic books, leadership-focused resources, empowering and professional.
                    A space that encourages forward-thinking.
                </span>
            </p>
          </div>
        </div>
    </div>
</section>

{% endblock %}