{% extends "layout.html" %}
{% block body_content %}

<section id='societiessection'>
    <div class="col-md-12">
             <div class="card">
                 <div class="container">
                 <h2> Join Eat and Retreat Society! If you love to try local delicacies and explore the hidden gems of the city, this is the place for you! </h2>
                 </div>
             </div>
         </div>



    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/eatretreat.jpeg') }}" alt="A student lounge" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/eatretreat4.jpeg') }}" alt="A student dinning" class="img-fluid shadow rounded mb-3">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{{ url_for('static', filename='images/eatretreat2.jpeg') }}" alt="A student bedroom" class="img-fluid shadow rounded mb-3">
            </div>
        </div>
    </div>
</section>

{% endblock %}