{% extends "layout.html" %}
{% block body_content %}

<section id="forex">
    <div class="container-fluid pt-5">
        <div class="row">

            <div class="col-12 col-md-8">
                <h2> Welcome </h2>
                <hr>
                <p2>Hi, my name is Nadine. I'm currently a postgraduate student at PPU and the Head of Foreign Exchange Soc, and I'll be taking you through this society's programmes and activities.
                </p2>
                <hr>

                <div class="accordion">

                    <div class="accordion-item" id="useAccordion">
                        <h3 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-controls="collapse-1" aria-expanded="false">&#9733 What is Foreign Exchange Soc?</button>
                        </h3>
                        <div id="collapse-1" class="accordion-collapse show" aria-labelledby="heading-1" data-bs-parent="#useAccordion">
                            <div class="accordion-body">
                                The PPU Foreign Exchange Soc is a dynamic society that offers a study-abroad programme at one of our partner universities.
                                As part of the society, members can gain the chance to experience new cultures, learn new languages, explore different cuisines, and discover global industries.
                                This programme allows students to forge lasting friendships and network with peers from diverse backgrounds.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-header">
                            <h3>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-controls="collapse-2" aria-expanded="false">&#9733 How long is the programme?</button>
                            </h3>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="useAccordion">
                            <div class="accordion-body">
                                The study abroad programme lasts a period of 3 months (1 semester) and runs every year during 2nd semester of every course academic year.
                                At the end of each programme, students will get an opportunity to share their experiences at our annual seminar and attend a CV workshop.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-header">
                            <h3>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-controls="collapse-3" aria-expanded="false">&#9733 Who can join?</button>
                            </h3>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="useAccordion">
                            <div class="accordion-body">
                                Students from any degree programme or year can join, however, slots are limited so we reccommend signing up as soon as possible.
                                If you are a returning student who enrolled in the society last year, you must enrol again to access the study-abroad programme for this year.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='images/hotel.jpeg') }}" alt="Picture of Nadine">
            </div>
        </div>
    </div>
</section> 


<section id="program">
    <h2>Study-Abroad Programmes</h2>
    <hr>

    <div class="container pt-5" id="forexsoc">
        <div id="programCarousel" class="carousel carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#programCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">

                <div class="active carousel-item carousel-1" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Italy 🇮🇹</h5>
                        <p>enjoy sun, smiles & sweet oranges in sicily</p>
                    </div>
                </div>

                <div class="carousel-item carousel-2" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Morocco 🇲🇦</h5>
                        <p>appreciate beautiful mosaic architecture in marrakech</p>
                    </div>
                </div>

                <div class="carousel-item carousel-3" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Japan 🇯🇵</h5>
                        <p>learn kansai & explore spiritual sites</p>
                    </div>
                </div>

                <div class="carousel-item carousel-4" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>China 🇨🇳</h5>
                        <p>make dumplings & try delicious local street food</p>
                    </div>
                </div>

                <div class="carousel-item carousel-5" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Norway 🇳🇴</h5>
                        <p>embrace the thrill of skiing & other winter sports!</p>
                    </div>
                </div>

                <div class="carousel-item carousel-6" data-bs-interval="3000">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Brazil 🇧🇷</h5>
                        <p>collaborate on sustainability initiatives in curitiba</p>
                    </div>
                </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#programCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#programCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <hr>

    <p>The images above highlight just a few of the memorable experiences from past foreign exchange programmes.
        Whether it's enjoying the vibrant souks of Morocco, savouring authentic italian cuisine, 
        contributing to innovative green projects in Brazil, or experiencing the adrenaline rush of adventures 
        in Norway, each programme is designed to offer enriching experience that extend beyond the classroom.
    </p>
    <hr>

    <div id="quote" class="container">
        <div class="row">
          <div id="openingquote" class="col align-self-start quote-mark">
            <img src="{{ url_for('static', filename='images/university/openingquote.png') }}" alt="opening quote" width="100">
          </div>
          <div class="col align-self-center quote-text">
            <p>
                <span class="firstline">
                    Participating in Curitiba's vertical garden and urban planning project was incredibly rewarding.
                    <br>I saw firsthand how green solutions could transform cities. 
                    And witnessing Carnival was even better!</span>
                <span class="secondline"><br>Alejandro, 3rd Year Economics & Real Estate Student</span>
            </p>
          </div>
          <div id="closingquote" class="col align-self-end quote-mark">
            <img src="{{ url_for('static', filename='images/university/closingquote.png') }}" alt="closing quote" width="100">
          </div>
        </div>
    </div>

    <hr>

    <div id="quo" class="container">
        <div class="row">
            <div class="col align-self-center mark">
                <p>
                    <span class="firstline">
                        "Living in Sicily was like stepping into a dream. Thanks to our host family, 
                        I learned how to make pasta in 7 new pasta recipes!"
                    </span>
                    <span class="secondline"><br>Isabelle, 1st Year Culinary Student</span><br>
                </p>
            </div>
          <div class="col align-self-center quote-text" style="text-align: center; padding-left: 50px;">
            <div class="card">
                <!-- <hr> -->
                <h2>More<br>Students'<br>Stories</h2>
                <!-- <hr> -->
            </div>
          </div>
          <div class="col align-self-end mark">
            <p>
                <span class="firstline">
                    "Exploring Japan's spiritual history and serenity is something I'll never forget. 
                    Speaking with locals was a great opportunity to expand my language skills. 
                    I discovered the importance of mindfulness and ikigai, and now observe it in everyday life."
                </span>
                <span class="secondline"><br><br>Joon, Mosters Law & Modern Languages Student</span><br>
            </p>
          </div>
        </div>
    </div>
    <hr>
</section>

{% endblock %}