{% extends "layout.html" %}
{% block body_content %}

<section id="rankingssection">
    <div class="container pt-5">
        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-1">
                    <div class="container">
                        <h5>#1 in crisis management</h5>
                        <p class="title">villain-free</p>
                        <p>our students are trained to keep calm and kick ahh no matter what!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-2">
                    <div class="container">
                        <h5>#2 in World GPA</h5>
                        <p class="title">It's in the genes</p>
                        <p>Our students excel in both academia and aeronautics. They're faster than jets.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-3">
                    <div class="container">
                        <h5>Top 3 in "Accidentally Saving the Day"</h5>
                        <p class="title">We're humble about it</p>
                        <p>Our students have an uncanny ability to be in the right place at the right time.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<hr>

<section id="campussection">
    <div class="container pt-5">
        <div class="col-sm-8">
            <h3>Campus Life</h3>
            <p>Here we ensure our students gain the most out of their academic experience.
                <br>At PPU, students don’t just learn, they save the day – both in the classroom 
                <br>and on campus! From tackling cutting-edge technology to acing the latest 
                <br>science experiments, our curriculum is designed to optimize student potential! 
                <br>Powered by high-kicks, sugar, spice and everything nice.</p>
        </div>
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/university/campus3.png') }}" alt="photo of ppu campus">
        </div>
    </div>
</section>


{% endblock %}