{% extends "layout.html" %}
{% block body_content %}

<section id="rankingssection">
    <div class="container pt-5">
        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-1">
                    <div class="container">
                        <h3>#1</h3>
                        <h5>crisis management</h5>
                        <p1>international hero association 2025</p1><br>
                        <p2>Our students are trained to keep calm and defeat villains no matter what!</p2>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-2">
                    <div class="container">
                        <h3>#2</h3>
                        <h5>World GPA</h5>
                        <p1 class="title">institute for SuperHuman research</p1><br>
                        <p2>Our students excel in both academia and aeronautics. They're faster than jets.</p2>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card ranking-3">
                    <div class="container">
                        <h3>Top 5</h3>
                        <h5>"Accidentally Saving the Day"</h5>
                        <p1>public ratings poll</p1><br>
                        <p2>Our students have an uncanny ability to be at the right place at the right time.</p2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="campussection">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-md-8 text">
                <h3>Campus Life</h3>
                <p>Here we ensure our students gain the most out of their academic experience.
                    At PPU, students don’t just learn, they save the day – both in the classroom
                    and on campus! From tackling cutting-edge technology to acing the latest
                    science experiments, our curriculum is designed to optimize student potential!
                    Powered by high-kicks, sugar, spice and everything nice.</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='images/university/campus3.png') }}" alt="photo of ppu campus">
            </div>
        </div>
    </div>
</section>

<section id="foundingsection">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h3>Our Founding</h3>
                <p>Eyewitness testimony from a member of our faculty, Professor Utonium. Powerpuff University was founded in November 1998 when Professor Utonium accidentally discovered a dynamite ingredient: Chemical X.</p>
                <hr>
            </div>
            <div class="col-sm-12 col-md-4">
                <iframe src="https://www.youtube.com/embed/f7MiaSr-0ug" frameborder="0" width="450px" height="350px" allow="accelerometer autoplay clipboard-write encrypted-media; gyroscope picture-in=picture" allowfullscreen></iframe>
            </div>
            <hr>
        </div>
    </div>
</section>



{% endblock %}