{% extends "layout.html" %}
{% block body_content %}

<section id="societiessection">
          <div class="col-md-6">
             <div class="card">
                 <img id="daphne" src="{{ url_for('static', filename='images/Dream_TradingCard (1).jpg') }}" alt="Daphne">
                 <div class="container">
                     <h2>Sci-Fi Gee Society</h2>
                     <p class="title">You are not weird, you only think differently. You are in the right place.</p>
                     <p>This society involves books and movies; discussions, theatre trips and lots more.</p>
                     <p>daphne@example.com</p>
                     <p><a href="http://127.0.0.1:8000/daliya/Daphne"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>
</section>

{% endblock %}