{% extends "layout.html" %}
{% block body_content %}

<section id="societiessection">
    <div class="container pt-5">
        <div class="row">
            <div class="col6 col-md-4">
                 <div class="card">
                     <img id ="daliya" src="{{ url_for('static', filename='images/eatretreat.jpeg') }}" alt="Daliya">
                     <div class="container">
                         <h2>Eat and Retreat Society</h2>
                         <p class="title">Welcome Foodie Explorer</p>
                         <p>This Society is all about exploring local food and local hidden gems for walks.</p>
                         <p>daliya@example.com</p>
                         <p><a href="/eatretreatsociety"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>
         
         <div class="col6 col-md-4">
             <div class="card">
                 <img id="daphne" src="{{ url_for('static', filename='images/Dream_TradingCard (1).jpg') }}" alt="Daphne">
                 <div class="container">
                     <h2>Sci-fi gee Society</h2>
                     <p class="title">Inclined to science amd fiction? Jump in!</p>
                     <p>This society involves books and movies; discussions, theatre trips and lots more.</p>
                     <p>daphne@example.com</p>
                     <p><a href="/scifi"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>
         
         <div class="col6 col-md-4">
             <div class="card">
                 <img id ="emma" src="{{ url_for('static', filename='images/tc.jpg') }}" alt="Emma">
                 <div class="container">
                     <h2>The Clue Seekers Society</h2>
                     <p class="title">Are you captivated by solving true crime mysteries?</p>
                     <p>Join The Clue Seekers Society, where every mystery is a puzzle and every truth is worth uncovering. True crime = relentless pursuit</p>
                     <p>emma@example.com</p>
                     <p><a href="http://127.0.0.1:8000/daliya/emma"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>
         
         <div class="row">
             <div class="col-md-6">
                 <div class="card">
                         <img id ="liya" src="{{ url_for('static', filename='images/university/blank.jpg') }}" alt="Liya">
                     <div class="container">
                         <h2>Society 4 Name</h2>
                         <p class="title">caption</p>
                         <p>Description</p>
                         <p>liya@example.com</p>
                         <p><a href="http://127.0.0.1:8000/daliya/liya"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>
         
             <div class="col-md-6">
                 <div class="card">
                         <img id ="foreignexchange" src="{{ url_for('static', filename='images/forexsoc2.jpeg') }}" alt="Image">
                     <div class="container">
                         <h2>Foreign Exchange Society</h2>
                         <p class="title">For Adventurers & Culture Enthusiasts</p>
                         <p>Spend a semester abroad with one of our partner universities.</p>
                         <p>foreignexchange-soc@ppu.ac.uk</p>
                         <p><a href="/forexsoc"><button class="button">discover more</button></a></p>
                     </div>
                 </div>
             </div>

             <div id="message" class="col-md-12 mx-auto">
                <div class="container pt-5 text-center">
                    <hr>
                    <h2><i class='bx bxs-castle'></i><br>We're excited for you to join!<br></h2>
                    <hr>
                </div>
            </div>
         </div>
        </div>
    </div>
</section>

{% endblock %}
