<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daliya Stanley's Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel= "stylesheet" href = "https://coolors.co/ff499e-d264b6-a480cf-779be7-49b6ff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>

<div class="bg-image"></div>

<div class="bg-text">
    <h1> <a href = "http://127.0.0.1:8000/daliya/hello3">
      Hi, my name is Daliya!!!
        </a>
  </h1>
  <p>
      I believe....
      "The future belongs to those who believe in the beauty of their dreams." - Eleanor Roosevelt
  </p>
    <br>
    <img id ="daliya" src="{{ url_for('static', filename='images/20250214_173933.jpg') }}" alt="Daliya" >
</div>
<footer>
        <p>&copy; Powerpuff Profiles 2025</p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
