{% extends "layout.html" %}
{% block body_content %}

<section>
    <div class="container pt-5">
        <h3>Students</h3>
        <hr>
        <p>This page is where we hope to implement victoria's 'Get Database People' query to display all the students. 
            The initial page will just show the top section with the background image when logged off or not signed up. 
            But once signed up or logged on, they will be able to see this section of the page where they can see 
            the names of all students enrolled in a society.</p>
    </div>
</section>
{% endblock %}

