{% extends "layout.html" %}
{% block body_content %}

<section id='societiessection'>
         <div class="col-md-12">
             <div class="card">
                 <div class="container">
                 <h2> Join The Clue Seekers Society to get an exciting insight into the world of true crime! </h2>
                 </div>
             </div>
         </div>
    <div style="display: flex; justify-content: center;">
    <img id='crimescene' src="{{ url_for('static', filename ='images/tc2.png') }}" alt='crimescene' style="width: 300px; height: auto;" >
<img id='unigirls' src="{{ url_for('static', filename ='images/csuni.png') }}" alt='unigirls' style="width: 300px; height: auto;" >
    <img id='crimescene2' src="{{ url_for('static', filename ='images/cs.png') }}" alt='crimescene2' style="width: 300px; height: auto;" >
    </div>

    <div class="col-md-12">
             <div class="card" style="width: 800px;">
                 <div class="container">
                 <h3> Explore true crime cases while sharpening your investigative skills, diving deep into both solved and cold cases. Challenge yourself to crack open unsolved mysteries by applying your newfound expertise and critical thinking abilities. </h3>
                 </div>

</section>

{% endblock %}